<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--将java类交给spring管理-->
    <!--
    id:spring 容器中Bean的名称，整个容器唯一（将类名首写字母小写其他不变）
    class:被管理bean的完全限定名
    简单说就是创建UserDao对象
    -->
    <bean id="userDao" class="com.kaishengit.dao.UserDao"/>
    <bean id="weixinDao1" class="com.kaishengit.dao.WeixinDao"/>

    <!-- 构造方法注入-->
    <bean id="userService" class="com.kaishengit.service.UserService">

        <!--&lt;!&ndash;通过type属性注入&ndash;&gt;
        <constructor-arg type="com.kaishengit.dao.UserDao" ref="userDao"/>
        <constructor-arg type="com.kaishengit.dao.WeixinDao" ref="weixinDao1"/>
-->
        <!--&lt;!&ndash;通过参数索引注入&ndash;&gt;
        <constructor-arg index="0" ref="userDao"/>
        <constructor-arg index="1" ref="weixinDao1"/>
-->
        <!--通过name属性(Service里的参数名)注入-->
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="weixinDao" ref="weixinDao1"/>
    </bean>

    <!--将UserService类交给spring管理-->
    <!--等同于创建UserService对象-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">

    &lt;!&ndash;name:UserService里面的set方法去掉set首字母大写
    ref:Bean 里面的id属性
    等同于在UserService中调用了setUserDao方法&ndash;&gt;
    <property name="userDao" ref="userDao"/>

</bean>-->



    <!--将WeixinService交给spring管理-->
    <bean id="weixinDao" class="com.kaishengit.service.WinxinService">
        <property name="weixinDao" ref="weixinDao1"/>

    </bean>
    <!--非对象类型注入-->
    <bean id="basicInjectService" class="com.kaishengit.service.BasicInjectService">
        <property name="name" value="jack"/>
        <property name="scoer" value="87.5"/>
        <!--List注入方法
        name:和Service里的属性值对应
        -->
        <property name="nameList" >
            <list>
                <value>aa</value>
                <value>bb</value>
                <value>cc</value>
                <value>dd</value>

            </list>
        </property>

        <!--Set注入方法-->
        <property name="myset" >
            <set>
                <value>aa11</value>
                <value>bb11</value>
                <value>cc11</value>
                <value>dd11s</value>

            </set>
        </property>
        <!--Map注入-->
        <property name="userMap">
            <map>
                <!--key的值随意起，value的值为bean里面的引用-->
                <entry key="map" value-ref="userDao"/>
            </map>
        </property>

        <property name="likeMap">
            <props>
                <prop key="p1">v1</prop>
                <prop key="p2">v2</prop>
            </props>
        </property>

        
    </bean>

    <!--别名-->
    <!--<alias name="userDao" alias="userDao2"/>-->




</beans>